<div class="auth-container">
  <form [formGroup]="registerForm" (ngSubmit)="submit()" class="auth-box" novalidate>
    <h2>Create an Account</h2>

    <div *ngIf="errorMessages.length > 0" class="error-list">
      <ul>
        <li *ngFor="let error of errorMessages">{{ error }}</li>
      </ul>
    </div>

    <label>Email</label>
    <input formControlName="email" type="email" placeholder="Enter your email" />
    <div *ngIf="email?.invalid && (email?.touched || email?.dirty)" class="error">
      <div *ngIf="email?.errors?.['required']">Email is required.</div>
      <div *ngIf="email?.errors?.['email']">Invalid email format.</div>
    </div>

    <label>Password</label>
    <div class="password-field">
      <input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Enter password"
        (input)="registerForm.get('password')?.updateValueAndValidity()" />
      <button type="button" class="toggle-btn" (click)="togglePasswordVisibility()">
        <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
      </button>
    </div>
    <div *ngIf="password?.dirty || password?.touched" class="error password-error">
      <div *ngIf="password?.errors?.['required']">Password is required.</div>
      <div *ngIf="isPasswordWeak()" class="error password-error">
        Password must contain at least 1 uppercase letter, 1 lowercase letter, 1 digit, 1 special character, and be at
        least 8 characters.
      </div>

    </div>

    <label>Confirm Password</label>
    <div class="password-field">
      <input [type]="showPassword ? 'text' : 'password'" formControlName="confirmPassword"
        placeholder="Confirm password" />
      <button type="button" class="toggle-btn" (click)="togglePasswordVisibility()">
        <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
      </button>
    </div>
    <div *ngIf="confirmPassword?.touched && registerForm.errors?.['passwordMismatch']" class="error password-error">
      Passwords do not match.
    </div>


    <button type="submit" class="btn-submit" [disabled]="registerForm.invalid || loading">
      {{ loading ? 'Sending OTP to Activate your account...' : 'Register' }}
    </button>

    <p class="switch-link">
      Already have an account?
      <a routerLink="/auth/login">Login</a>
    </p>
  </form>
</div>